LLM_API_KEY='your_llm_api_key_here'
LLM_BASE_URL='https://api.openai.com/v1'
LLM_MODEL='gpt-4.1-mini'
BRAVE_SEARCH_API_KEY='your_brave_search_api_key_here'
BRAVE_SEARCH_API_ENDPOINT='https://api.search.brave.com/res/v1/web/search'
SEARCH_CACHE_TTL_MS='900000'
RESUME_UPLOAD_MAX_BYTES='2000000'
APPLICATION_REQUEST_MAX_BYTES='3000000'
JOB_PAGE_FETCH_TIMEOUT_MS='8000'
JOB_PAGE_MAX_BYTES='750000'
GENERATION_RATE_LIMIT_WINDOW_MS='600000'
GENERATION_RATE_LIMIT_MAX='5'
